<div>
	<input type="hidden" id="{{gotoPageId}}" name="gotoPage" />	
	<h2>Log In</h2>
	<div class="form-control">
		<span class="ui-float-label">
			<input id="float-input" type="text" pInputText [(ngModel)]="username" [ngClass]="{'ng-invalid':!!usernameError}" /> 
				   <label for="float-input">Username</label>
		</span>
		<p-message severity="error" text="{{usernameError}}" *ngIf="usernameError"></p-message>
	</div>
	<div class="form-control">
		<span class="ui-float-label">
			<input id="float-input" type="text" pInputText [(ngModel)]="password" [ngClass]="{'ng-invalid':!!passwordError}"/> 
				   <label for="float-input">Password</label>
		</span>
		<p-message severity="error" text="{{passwordError}}" *ngIf="passwordError"></p-message>
	</div>
	<button pButton class="ui-button" (click)="login()" label="Log in"></button>
	<div id="forgot-password-links">
		<a href="resetPassword.jsp">Forgot Password</a> | <a href="forgotUser.jsp">Forgot Username</a>
	</div>
</div>