:host{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.title{
	flex-grow: 0;
	flex-shrink: 0;
	color:#ffffff;
	background-color: #555555;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-weight: bold;
}

.buttonBar{
	flex-grow: 0;
	flex-shrink: 0;
	height: 56px;
	display: flex;
    align-items: center;
	justify-content: space-between;
}
.buttonBar .left, .buttonBar .right{
	flex-grow: 0;
	flex-shrink: 0;
	height: 56px;
	display: flex;
    align-items: center;
}
.menuBar{
	flex-grow: 0;
	flex-shrink: 0;
	height: 56px;
	display: flex;
    align-items: center;
}
.buttonBar button{
	height:40px;
	margin-left: 10px;	
}
.sectionContent{
	flex-grow: 1;
	background-color: #d0d0d0;
}
.ui-tooltip {
    width: 200px;
}
.ui-column-title{
	font-size: 0.75em;
}
.flag{
	text-align: center;
	color: #64B647;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.no-flag{
	text-align: center;
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;	
}

.ui-dialog .ui-dialog-titlebar{
	background-color: #441e60; /* ${branding.primaryColor}; */
	color: #FFFFFF; /* ${branding.primaryTextColor}; */	
}

@media (max-width: 35em)
{

	.flag{
		display: inline-block;
	}
	.no-flag{
		display: inline-block;
	}	
}