.form-field label{
	display:block;
	font-weight: bold;
}
.form-field input
{
	width: 100%;
}
.form-field
{
	padding-bottom: 5px;
	padding-top: 5px;
}

.field-required:after {
	color: red;
	font-weight: bold;
	content: "*"
}