/* You can add global styles to this file, and also import other style files */
body {
	min-width:300px;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100vh;
	background-color: #f6f6f6;
}
h1, .h1 {
	font-size: 36px;
}
h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.ui-widget.ui-button {
	background-color: #7c7d7d; 
	border-color: #7c7d7d; 
}
.ui-button.ui-button-secondary.ui-state-default{
	background-color: #f6f6f6;
}