<div *ngIf="brandingObs$ | async as branding;" class="header">
	<div class="logo">
		<img *ngIf="branding.secondaryLogoUrl" [src]="branding.secondaryLogoUrl" alt="logo"/>
	</div>
	<div class="title">	
		<h1>AdminTools - </h1>        
	</div>
	<div class="userMenu">
		<button type="button" pButton icon="fa fa-envelope-o" label="Notifications"></button>
		<app-user-menu></app-user-menu>
	</div>
</div>
<div class="menuBar">
	<button type="button" pButton icon="fa fa-home" label="Dashboard" class="ui-button-secondary"></button>
	<p-menu #dataMenu popup="popup" [model]="dataPages"></p-menu>
	<button type="button" pButton icon="fa fa-database" label="Data Management" class="ui-button-secondary" (click)="dataMenu.toggle($event)"></button>
	<p-menu #evaluationMenu popup="popup" [model]="evaluationPages"></p-menu>
	<button type="button" pButton icon="fa fa-file-text-o" label="Evaluation Management" class="ui-button-secondary" (click)="evaluationMenu.toggle($event)"></button>
	<p-menu #applicationMenu popup="popup" [model]="applicationPages"></p-menu>
	<button type="button" pButton icon="fa fa-gears" label="Application Management" class="ui-button-secondary" (click)="applicationMenu.toggle($event)"></button>
</div>